<!DOCTYPE html>
<html>

<head>
    <title>Información de vuelo</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <style>
        html,
        body,
        h1,
        h2,
        h3,
        h4,
        h5 {
            font-family: "Raleway", sans-serif;
        }
    </style>
</head>

<body class="w3-light-grey">
    <div class="w3-main" style="margin-left: 300px; margin-top: 43px;">
        <div class="w3-panel">
            <h2>Información de vuelo</h2>
            <table class="w3-table w3-bordered">
                <caption>Vuelo</caption>
                <tr>
                    <th>Aerolínea</th>
                    <th>Procedencia</th>
                    <th>Destino</th>
                    <th>Hora de salida</th>
                    <th>Hora de Llegada Estimada</th>
                    <th>Estado</th>
                </tr>
                {% for dato in vuelo %}
                <tr>
                    <td>{{ dato.airline }}</td>
                    <td>{{ dato.departure }}</td>
                    <td>{{ dato.destination }}</td>
                    <td>{{ dato.departure_time }}</td>
                    <td>{{ dato.estimated_arrival }}</td>
                    <td>{{ dato.status}}</td>
                </tr>
                {% endfor %}
            </table>
            <br>
        </div>
    </div>
</body>

</html>