<!DOCTYPE html>
<html>

<head>
    <title>Filtro por rutas seleccionadas</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

</head>

<body class="w3-light-grey">
    <div class="w3-main" style="margin-left: 30px; margin-top: 43px;">
        <div class="w3-panel">
            <h1>Vuelos:</h1>

            <table class="w3-table w3-bordered">
                <tr>
                    <th>Aerolínea</th>
                    <th>Número de Vuelo</th>
                    <th>Estado</th>
                    <th>Hora de salida</th>
                    <th>Hora de llegada</th>
                </tr>

                {% for flight in flights %}
                <tr>
                    <td>{{ flight.airline }}</td>
                    <td>{{ flight.flight_iata }}</td>
                    <td>{{ flight.status }}</td>
                    <td>{{ flight.departure_scheduled }}</td>
                    <td>{{ flight.arrival_scheduled }}</td>
                </tr>
                {% endfor %}
            </table>
            <form method="GET" action="/">
                <input type="submit" value="Regresar">
            </form>
    
</body>

</html>